
services:
  mysql:
    image: ${mysql_image}
    environment:
      MYSQL_ROOT_PASSWORD: holoinsight
      MYSQL_USER: holoinsight
      MYSQL_PASSWORD: holoinsight
      MYSQL_DATABASE: holoinsight
    volumes:
    - ./my.cnf:/etc/mysql/conf.d/my.cnf
    restart: always
    ports:
    - 3306
    healthcheck:
      test: mysql -uholoinsight -pholoinsight -Dholoinsight
      interval: 5s
      retries: 300
      timeout: 10s
  ceresdb:
    image: ${ceresdb_image}
    volumes:
    - ./ceresdb_entrypoint.sh:/entrypoint.sh
    restart: always
    healthcheck:
      test: ["CMD", "timeout", "1", "bash", "-c", "cat < /dev/null > /dev/tcp/127.0.0.1/5440"]
      interval: 5s
      retries: 300
      timeout: 10s
  mysql-data-init:
    image: ${mysql_image}
    links:
    - mysql
    depends_on:
      mysql:
        condition: service_healthy
    restart: "no"
    volumes:
    - ./my.cnf:/etc/mysql/conf.d/my.cnf
    - ../../../server/extension/extension-common-flyway/src/main/resources/db/migration:/sql/0migration
    - ./data.sql:/sql/1data/V999999__data.sql
    - ./init-db.sh:/init-db.sh
    - ./exec-sql-script.sh:/exec-sql-script.sh
    working_dir: /
    entrypoint:
    - /init-db.sh
  server:
    hostname: holoinsight-server-example
    image: ${server_image}
    pull_policy: "${server_image_pull_policy:-always}"
    healthcheck:
      test: ["CMD", "bash", "/home/admin/bin/health.sh"]
      interval: 1s
      retries: 300
    depends_on:
      mysql-data-init:
        condition: service_completed_successfully
      ceresdb:
        condition: service_healthy
    volumes:
    - ./application.yaml:/home/admin/application.yaml
    ports:
    - ${server_port:-8080}:80
  agent-image:
    image: ${agent_image}
    pull_policy: "${image_pull_policy:-always}"
    entrypoint: ["true"]
  finish:
    image: ${server_image}
    pull_policy: "${server_image_pull_policy:-always}"
    depends_on:
      agent-image:
        condition: service_started
      server:
        condition: service_healthy
    entrypoint: [ "bash","-c", "echo 'holoinsight started successfully, visit http://YOUR_HOST_IP:${server_port:-8080}'" ]
